PORT=3000
MONGODB_URI=mongodb://127.0.0.1:27017/egy-vote
NODE_ENV=development

# Email OTP Configuration
# استبدل YOUR_APP_PASSWORD بكلمة مرور التطبيق التي تحصل عليها من إعدادات Google
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_SECURE=false
EMAIL_USER=voteegy@gmail.com
EMAIL_PASS=YOUR_APP_PASSWORD
EMAIL_FROM=Egy-Vote <voteegy@gmail.com>
